<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        {{ app_name() }}-{{ app_version }} / {{ core_version }}
    </div>
</footer>
