<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        {{ t('pytsite.admin@powered_by') }} <a target="_blank" href="{{ core_url }}">{{ core_name }}-{{ core_version }}</a>
    </div>
</footer>