{% set user = auth_current_user() %}

<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a class="logo" href="{{ base_url() }}">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img class="img-responsive" src="{{ asset_url('img/appicon.png') }}" alt="{{ t('app@app_name') }}"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">{{ t('app@app_name') }}</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">

            {{ admin_language_nav }}

            <ul class="nav navbar-nav">

                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img alt="{{ user.full_name | e }}" class="user-image" src="{{ user.picture.get_url(width=100, height=100) }}">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">{{ user.full_name }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img alt="{{ user.full_name | e }}" class="img-circle" src="{{ user.picture.get_url(width=100, height=100) }}">

                            <p>
                                {{ user.full_name }}
                                <small>{{ user.login }}</small>
                                <small>{{ t('pytsite.admin@member_since') }} {{ user.created | date('pretty_date') }}</small>
                            </p>
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">{{ t('pytsite.admin@profile') }}</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ auth_sign_out_url() }}" class="btn btn-default btn-flat">{{ t('pytsite.admin@logout') }}</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
