<!DOCTYPE html>
<html lang="{{ current_lang() }}">
<head>
    {{ metatags() }}
    {{ css_links() }}
    {{ js_head_links() }}
</head>

<body class="hold-transition skin-blue sidebar-mini{% if sidebar_collapsed %} sidebar-collapse{% endif %}">
<div class="wrapper">
    {% include 'pytsite.admin@header' %}
    {% include 'pytsite.admin@sidebar' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ metatag_get('title') }}
                <small>{{ metatag_get('description') }}</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            {% include 'pytsite.admin@messages' %}
            {% block content %}{{ content }}{% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {% include 'pytsite.admin@footer' %}
</div>
<!-- ./wrapper -->

{{ js_links() }}
{{ inline_js() }}
</body>
</html>
