{% for type in ['error', 'warning', 'info', 'success'] %}
    {% set messages = session_messages(type) %}
    {% if type == 'error' %}{% set type = 'danger' %}{% endif %}
    {% if messages %}
        <div class="row">
            <div class="col-xs-12">
                {% for msg in messages %}
                    <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}
