.widget-files-upload {
    overflow: hidden;
}

.widget-files-upload .slot {
    margin-bottom: 1em;
}

.widget-files-upload .slot .inner {
    position: relative;
    margin: 0.5em;
}

.widget-files-upload .slot .btn-remove,
.widget-files-upload .slot .number {
    position: absolute;
    top: 0;
}

.widget-files-upload .add-button {
    overflow: hidden;
    cursor: pointer;
    height: 100%;
}

.widget-files-upload .add-button .btn {
    vertical-align: middle;
}

.widget-files-upload input[type=file] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
}

.widget-files-upload .slot .btn-remove {
    right: 0;
}

.widget-files-upload .slot .number {
    background: #fff;
    padding: 5px 8px;
    left: 0;
    visibility: hidden;
}

.widget-files-upload .slot:hover .number {
    visibility: visible;
}

.widget-files-upload .processing {
    font-size: 2em;
}