<script src="//ulogin.ru/js/ulogin.js"></script>
<div id="uLogin" data-ulogin="display=panel;fields=first_name,last_name,email,nickname,bdate,sex,photo,photo_big,city,country;providers=facebook,twitter,googleplus,linkedin,yandex,vkontakte;hidden=other;redirect_uri={{ route_url('pytsite.auth.views.post_login') }}"></div>