.widget-files-upload .dropzone,
.widget-files-upload .add-button {
    display: inline-block;
}

.widget-files-upload .dropzone {
    border: 0;
    padding: 0;
    min-height: 0;
}

.widget-files-upload .dz-default.dz-message {
    display: none;
}

.widget-files-upload .add-button {

}

.widget-files-upload .dropzone .dz-preview .dz-image {
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 4px;
}
