.widget-files-upload .slots {
    display: inline-block;
}

.widget-files-upload .slot {
    display: inline-block;
    position: relative;
    margin: 0 2em 0 0;
    border: 1px solid #ccc;
}

.widget-files-upload .add-button {
    display: inline-block;
    position: relative;
}

.widget-files-upload .slot .btn-remove,
.widget-files-upload .slot .number {
    position: absolute;
    top: 0;
}

.widget-files-upload .add-button {
    overflow: hidden;
    cursor: pointer;
}

.widget-files-upload input[type=file] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.widget-files-upload .slot .btn-remove {
    right: 0;
}

.widget-files-upload .slot .number {
    background: #fff;
    padding: 5px 8px;
    left: 0;
}

.widget-files-upload .processing {
    font-size: 2em;
}