<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive odm-ui-browser">
                <form action="#" method="post">
                    {{ table }}
                </form>
            </div>
        </div>
    </div>
</div>
