{% extends reg_get('output.base_tpl') %}

{% block content %}
    <div id="pytsite-auth-page-sign-in" class="driver-{{ driver }}">
        <div class="inner">
            {{ form }}
        </div>
    </div>
{% endblock %}
