{% if widget.terms %}
    {% if widget.title %}
        {{ '<' ~ widget.title_tag ~ ' class="title">' ~ widget.title | e ~ '</' ~ widget.title_tag ~ '>' }}
    {% endif %}
    {% for term in widget.terms %}
        {% set path = widget.link_pattern | format(term.alias) %}
        <a data-alias="{{ term.alias }}" data-path="{{ path }}" href="{{ url(path) }}"
           class="term {{ widget.term_css }}">{{ widget.term_title_pattern | format(term.title) }}</a>
    {% endfor %}
{% endif %}
