{% if widget.title %}
    {{ '<' ~ widget.title_tag ~ ' class="title">' ~ widget.title | e ~ '</' ~ widget.title_tag ~ '>' }}
{% endif %}
{% for term in widget.terms %}
    <a href="{{ url(widget.link_pattern | format(term.alias)) }}"
       class="term {{ widget.term_css }}">{{ widget.term_title_pattern | format(term.title) }}</a>
{% endfor %}
