<!DOCTYPE html>
<html lang="{{ current_lang() }}">

<head>
    {% block metatags %} {{ metatags() }} {% endblock %}
    {% block css_links %} {{ css_links() }} {% endblock %}
    {% block js_head_links %} {{ js_head_links() }} {% endblock %}
</head>

<body id="pytsite-auth-page-sign-in" class="driver-{{ driver }}">

{% block messages %}
    <div id="messages" class="container">
        {% for type in ['error', 'warning', 'info', 'success'] %}
            {% set messages = session_messages(type) %}
            {% if type == 'error' %}{% set type = 'danger' %}{% endif %}
            {% if messages|length %}
                <div class="row">
                    <div class="col col-xs-12">
                        {% for msg in messages %}
                            <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                                {{ msg }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div id="page" class="container">
        <div class="row">
            <div class="col col-xs-12">
                {{ form }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js_links %} {{ js_links() }} {% endblock %}
{% block inline_js %} {{ inline_js() }} {% endblock %}

</body>
</html>
