{% extends 'html' %}

{% block content %}
    <div id="http-exception">
        <h1 class="page-title">{{ title | e }}</h1>
        {% if traceback and reg_get('debug') %}
            <pre>{{ traceback | e }}</pre>
        {% endif %}
    </div>
{% endblock %}
