{% extends 'pytsite.admin@html' %}
{% block content %}
<div class="row">
<div class="col-xs-12">
    <div class="box">
        <div class="box-body table-responsive no-padding">
            {{ browser.render() }}
        </div>
    </div>
</div>
</div>
{% endblock %}