<p><b>{{ t('pytsite.contact_form@sender_name') }}</b>: {{ contact_name }}</p>
<p><b>{{ t('pytsite.contact_form@sender_email') }}</b>: {{ contact_email }}</p>

<p><b>{{ t('pytsite.contact_form@message') }}</b>:</p>
<pre>{{ contact_message }}</pre>
