{% extends 'pytsite.admin@html' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                {% block form %}
                    {{ form.render() }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
