{% macro slot(order=1, value=[]) %}
    <tr class="slot">
        <td class="order"></td>
        <td class="input">
            {% for t in widget.col_titles %}
                <input name="{{ widget.uid }}[]" class="form-control" type="text" placeholder="{{ t }}"
                       value="{{ value[loop.index0] }}"/>
            {% endfor %}
        </td>
        <td class="delete-btn"><a href="#" class="btn btn-danger" title="{{ t('pytsite.widget@delete') }}"><i
                class="fa fa-remove"></i></a></td>
    </tr>
{% endmacro %}

<table class="slots">
    <thead>
    <tr class="header">
        <th class="order">&nbsp;</th>
        <th class="input">
            {% for t in widget.col_titles %}
                <span>{{ t }}</span>
            {% endfor %}
        </th>
        <th class="delete-btn"></th>
    </tr>
    </thead>
    {% if widget.get_val() %}
        {% for v in widget.get_val() %}
            {{ slot(loop.index, v) }}
        {% endfor %}
    {% else %}
        {{ slot() }}
    {% endif %}
</table>

<div class="add-btn">
    <a href="#" class="btn btn-default btn-xs"><i class="{{ widget.add_btn_icon }}"></i> {{ widget.add_btn_label }}</a>
</div>
