{% macro slot(order=1, value='') %}
    <div class="slot">
        <span class="order"></span>
        <span class="input"><input name="{{ widget.uid }}[]" type="text" class="form-control" value="{{ value }}"/></span>
        <span class="delete-btn"><a href="#" class="btn btn-danger" title="{{ t('pytsite.widget@delete') }}"><i class="fa fa-remove"></i></a></span>
    </div>
{% endmacro %}

<div class="slots">
    {% if widget.get_val() %}
        {% for v in widget.get_val() %}
            {{ slot(loop.index, v) }}
        {% endfor %}
    {% else %}
        {{ slot() }}
    {% endif %}
</div>

<div class="add-btn">
    <a href="#" class="btn btn-default btn-xs"><i class="{{ widget.add_btn_icon }}"></i> {{ widget.add_btn_label }}</a>
</div>
