{% if current_user.is_anonymous %}
    {# TODO #}
{% else %}
    {% if current_user in user.followers %}
        <a href="#" class="btn btn-primary following">
            <i class="fa fa-fw fa-check icon"></i>&nbsp;<span class="text">{{ t(following_msg_id) }}</span>
        </a>
    {% else %}
        <a href="#" class="btn btn-default non-following">
            <i class="fa fa-fw fa-plus icon"></i>&nbsp;<span class="text">{{ t(follow_msg_id) }}</span>
        </a>
    {% endif %}
{% endif %}
