<h1>Привет, {{ comment.author.full_name | e }}!</h1>
<p>
    Вы получили новый ответ на ваш <a href="{{ comment.url }}">комментарий</a> от
    <b>{{ reply.author.full_name | e }}</b>:
</p>

<blockquote>
    {{ reply.body | e }}
</blockquote>

<p>
    --<br/>
    С наилучшими пожеланиями, {{ t('app_name') }}.
</p>
