<div class="files-upload-wrapper">
    <div class="slots row">
        {# Thumbs #}
        {% if widget.get_val() %}
            {% for item in widget.get_val() %}
                {% set fid = item.model~':'~item.id %}
                <div class="slot content sortable {{ widget.slot_css }}" data-fid="{{ fid }}">
                    <div class="inner">
                        <div class="thumb"><img class="img-responsive" src="{{ item.thumb_url }}"></div>
                        <button type="button" class="btn btn-danger btn-xs btn-remove"><i class="fa fa-remove"></i></button>
                        {% if widget.show_numbers %}
                            <span class="number"></span>
                        {% endif %}
                        <input type="hidden" name="{{ widget.uid }}[]" value="{{ fid }}">
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {# Progress bar #}
        <div class="hidden slot progress {{ widget.slot_css }}">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">0%</div>
        </div>

        {# 'Add' button #}
        <div class="slot add-button {{ widget.slot_css }}" style="display: inline-block">
            <div class="btn btn btn-default">
                <i class="{{ widget.add_btn_icon }}"></i> {{ widget.add_btn_label }}
                <input type="file" multiple accept="{{ widget.accept_files }}">
            </div>
        </div>
    </div>

    {# At least one input should be on the form #}
    <input type="hidden" name="{{ widget.uid }}[]" value="">
</div>
