{% extends '$theme@html' %}

{% block content %}
    <div class="auth-ui profile-edit">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ metatag_get('title') }}</h1>
                {{ frm }}
            </div>
        </div>
    </div>
{% endblock %}
