{% extends reg.get('output.base_tpl') %}

{% block content %}
    <div class="auth form-login wrapper">
        <div class="inner">
            {{ form.render() }}
        </div>
    </div>
{% endblock %}