{% extends reg.get('output.base_tpl') %}

{% block content %}
    <div class="auth profile">
        <h1 class="text-xs-B-center text-xs-left">{{ user.full_name }}</h1>

        <div class="row">
            <div class="col-xs-B-12 col-xs-4 col-sm-3 col-lg-2 text-xs-center">
                <img class="img-responsive img-circle" src="{{ user.picture_url }}" alt="{{ user.full_name }}">
            </div>
            <div class="col-xs-B-12 col-xs-8 col-sm-9 col-lg-10">
                <ul>
                    <li>{{ t('auth@member_since') }}: {{ user.created | date('pretty') }}</li>
                    <li>{{ t('auth@activity') }}: {{ user.login_count }}</li>
                    <li>{{ t('auth@last_login') }}: {{ user.last_login | date('pretty') }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}