{% block widget %}
    <div class="row">
        {% block col_image %}
            <div class="{{ col_image_css }} col-image">
                {% block user_image %}
                    <div class="image">
                        {% block user_image_inner %}
                            <a href="{{ user.url }}">
                                <img class="img-responsive img-circle" src="{{ user.picture.get_url(width=300) }}" alt="{{ user.full_name }}">
                            </a>
                        {% endblock user_image_inner %}
                    </div>
                {% endblock user_image %}

                {% block user_urls %}
                    {% if user.urls %}
                        <ul class="urls text-xs-center">
                            {% block user_urls_items %}
                                {% for link in user.urls %}
                                    <li class="item">
                                        {% set cls = 'fa-globe' %}
                                        {% if 'github.com' in link %}{% set cls = 'fa-github' %}{% endif %}
                                        {% if 'twitter.com' in link %}{% set cls = 'fa-twitter' %}{% endif %}
                                        {% if 'facebook.com' in link %}{% set cls = 'fa-facebook' %}{% endif %}
                                        {% if 'google.com' in link %}{% set cls = 'fa-google' %}{% endif %}
                                        {% if 'linkedin.com' in link %}{% set cls = 'fa-linkedin' %}{% endif %}
                                        {% if 'tumblr.com' in link %}{% set cls = 'fa-tumblr' %}{% endif %}
                                        {% if 'vk.com' in link %}{% set cls = 'fa-vk' %}{% endif %}
                                        <a href="{{ link }}" target="_blank"><i class="fa fa-fw {{ cls }}"></i></a>
                                    </li>
                                {% endfor %}
                            {% endblock user_urls_items %}
                        </ul>
                    {% endif %}
                {% endblock user_urls %}
            </div>
        {% endblock col_image %}

        {% block col_content %}
            <div class="{{ col_content_css }} col-content">
                {% block user_full_name %}
                    <h3 class="text-xs-B-center text-sm-left">{{ user.full_name }}</h3>
                {% endblock user_full_name %}

                {% block user_description %}
                    {% if user.description %}
                        {% block user_description_inner %}
                            <p class="description">
                                {{ user.description | e | nl2br }}
                            </p>
                        {% endblock user_description_inner %}
                    {% endif %}
                {% endblock user_description %}

                {% block user_counters %}
                    <div class="row counters">
                        <ul class="col-xs-12 text-xs-B-center text-sm-left">
                            {% block user_counters_inner %}
                                {% if following_enabled %}
                                    <li class="item counter-follows">
                                        {{ t('pytsite.auth@follows') }}: {{ user.follows | count }}
                                    </li>
                                    <li class="item counter-followers">
                                        {{ t('pytsite.auth@followers') }}: {{ user.followers | count }}
                                    </li>
                                {% endif %}
                            {% endblock user_counters_inner %}
                        </ul>
                    </div>
                {% endblock user_counters %}

                {% block user_actions %}
                    <div class="row actions">
                        {% block user_actions_inner %}
                            <div class="col-xs-12 text-xs-B-center text-sm-left">
                                {% if profile_is_editable %}
                                    <a href="{{ user.profile_edit_url }}"
                                       title="{{ t('pytsite.auth@modify_profile') }}"
                                       class="btn btn-default"><i
                                            class="fa fa-edit"></i>&nbsp;{{ t('pytsite.auth@modify_profile') }}</a>
                                    &nbsp;
                                {% endif %}

                                {% if follow_button %}
                                    {{ follow_button }}
                                {% endif %}
                            </div>
                        {% endblock user_actions_inner %}
                    </div>
                {% endblock user_actions %}
            </div>
        {% endblock col_content %}
    </div>
{% endblock widget %}
