{% extends reg.get('output.base_tpl') %}

{% block content %}
    <div class="auth-ui profile-edit">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ metatag.get('title') }}</h1>
                {{ form }}
            </div>
        </div>
    </div>
{% endblock %}
