<h1>Hello, {{ entity.author.full_name }}!</h1>

<p>
    <b>{{ comment.author.full_name }}</b> commented your <a href="{{ comment.url }}">post</a>:
</p>

<blockquote>
    {{ comment.body | e }}
</blockquote>

<p>
    --<br/>
    Sincerely yours, {{ t('app_name') }}.
</p>
