{% if form.modal %}
    <div class="modal fade" id="{{ form.uid }}-modal" tabindex="-1" role="dialog"
         aria-labelledby="{{ form.uid }}-label">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
{% endif %}

<form role="form"
      method="{{ form.method }}"
      action="{{ form.action }}"
      id="{{ form.uid }}"
      name="{{ form.name }}"
      class="{{ form.css }}"
      data-cid="{{ form.cid }}"
      data-uid="{{ form.uid }}"
      data-path="{{ form.path }}"
      data-get-widgets-ep="{{ form.get_widgets_ep }}"
      data-validation-ep="{{ form.validation_ep }}"
      data-steps="{{ form.steps }}"
      data-prevent-submit="{{ form.prevent_submit }}"
      data-reload-on-forward="{{ form.reload_on_forward }}"

      {% for k, v in form.data.items() %}
          data-{{ k }}="{{ v }}"
      {% endfor %}
>

    {#  Hidden area  #}
    <div class="form-area box-hidden hidden {{ form.area_hidden_css }}" data-form-area="hidden"></div>

    {#  Header area  #}
    <div class="form-area box-header {% if form.modal %}modal-header{% endif %} {{ form.area_header_css }}"
         data-form-area="header">

        {% if form.modal and form.modal_close_btn %}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {% endif %}

        <div class="form-title">
            {% if form.title %}
                <h4 id="{{ form.uid }}-label" class="{% if form.modal %}modal-title{% endif %} {{ form.title_css }}">
                    {{ form.title | e }}
                </h4>
            {% endif %}
        </div>
        <div class="form-messages"></div>
    </div>

    {# Body area #}
    <div class="form-area box-body {% if form.modal %}modal-body{% endif %} {{ form.area_body_css }}" data-form-area="body">
        <div class="progress{% if 'row' in form.area_body_css %} col-xs-12{% endif %}">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
        </div>
    </div>

    {# Footer area #}
    <div class="form-area box-footer {% if form.modal %}modal-footer{% endif %} {{ form.area_footer_css }}" data-form-area="footer"></div>
</form>


{% if form.modal %}
    </div>
    </div>
    </div>
{% endif %}
